AUTH_URL=https://online.sbis.ru/oauth/service/
PRESTO_BASE_URL=https://api.sbis.ru/retail
PRESTO_ORDER_URL=https://api.sbis.ru/retail/order/create
PRESTO_DELIVERY_COST_URL=https://api.sbis.ru/retail/delivery/cost
APP_CLIENT_ID=
APP_SECRET=
SECRET_KEY=
FLASK_SECRET_KEY=
PRESTO_POINT_ID=3
PRESTO_PRICE_LIST_ID=74
DATABASE_URL=postgresql://USER:PASSWORD@HOST/DB?sslmode=require&channel_binding=require
CRON_SECRET=
